.main{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    align-content: center;
    
}
.main header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main label{
    font-size: 2.5rem;
}
.main form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.Movies-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 1rem;
    width: 85vw;
}
.item{
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px; 
    background-color: #1a242f;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
}
.item h3,
.item p{
    margin-bottom: 0;
}
