.Modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.Information-Rev {
    background-color: #DDD0C8;
    display: flex;
    width: 54vw;
    height: 60dvh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.Data {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    margin: 0 20px;
    flex-wrap: wrap;
}

.item {
    position: relative;
    margin: 50px auto;
    width: 200px;
}

.item input[type="text"],
.item input[type="date"],
select {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #323232;
    padding: 5px 0;
    background-color: transparent;
    outline: none;

}

.item .label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #5b5959;
    transition: all 0.3s ease;
    pointer-events: none;
}

.item input[type="text"]:focus~.label {
    top: -20px;
    font-size: 16px;
    color: #333;
}
.btn-Reserve{
    background-color: transparent;
    outline: none;

    box-shadow: 0px 3px 0px rgba(0,0,0,0.4),inset 0px -3px 0px rgba(255,255,255,0.4);
    transition: all 0.2s ease;
    width: 150px;
    height: 25px;
}
.btn-Reserve:hover{
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    transform: translateY(5px);
    cursor: pointer;
}