.Bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bar-nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #af9484;
}

.Bar-nav a {
    font-size: 2rem;
    padding: 0 10px;

}

.Bar-nav a:hover {
    cursor: pointer;
}

